body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#131921;
color:white;
padding:15px 40px;
}

.logo{
font-size:22px;
font-weight:bold;
}

.search{
width:300px;
padding:8px;
border-radius:4px;
border:none;
}

.nav-links a, header a{
color:white;
text-decoration:none;
margin-left:20px;
}

/* BANNER */
.banner{
background:#febd69;
text-align:center;
padding:80px;
}

.banner h1{
font-size:40px;
}

button{
padding:10px 20px;
background:#ff9900;
border:none;
border-radius:5px;
cursor:pointer;
}

/* PRODUCTS */
.title{
text-align:center;
margin-top:30px;
}

.product-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin:40px;
}

.product-card{
background:white;
width:250px;
padding:20px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.product-card img{
width:100%;
height:200px;
}

/* CART */
.cart-box{
width:400px;
margin:100px auto;
background:white;
padding:40px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
}